body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

h1 {
  font-weight: 300px;

}

h5 {
  text-align: right;
  color: gray;
}

.head {
  color: white;
  font-family: Verdana;
}
